.blocks {
  background: black;
  width: 50px;
  height: 50px;
  border: 1px solid white;
}

.simulator{
  background: lightgrey;
  width: 50px;
  height: 50px;
  border: 1px solid lightgoldenrodyellow;
}

.simulator_border{
  border-collapse: collapse;
  border: 1px solid black;
}

.flow_color{
  border-collapse: collapse;
  border: 1px solid white;
}

.sim_start{
  background: blue;
  width: 50px;
  height: 50px;
  border: 1px solid white;
}

.replaced_block{
  background: lightgray;
  width: 47px;
  height: 50px;
  border: 1px solid black;  
}
  
.fill_color{
  background: blue;
  width: 50px;
  height: 50px;
  border: 1px solid white;  
}

.fill_no_color{
  background: white;
  width: 50px;
  height: 50px;
  border: 1px solid white;  
  pointer-events: none;
}

.container{
  font-family: arial;
  font-size: 24px;
  margin: auto;
  width: 40%;
  height: auto;
  margin-top: 50px;
  outline: 1px solid black;
  padding: 16px;
}

.container_simulation{
  font-family: arial;
  font-size: 24px;
  margin: auto;
  width: 55%;
  height: auto;
  margin-top: 50px;
  outline: 1px solid black;
  padding: 16px;
}